* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background: black;
}