* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-image: url(./img/desert.jpg);
    background-size: cover;
    background-position: center;
}

canvas {
    background: black;
}